{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-3 mb-2">
    <div class="row">
        <div class="col">
            <h2 class="mb-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>
    {% if bag_items %}
    {% for item in bag_items %}
    <!-- Section items-list -->
    <section>
        <div class="row mb-2 align-items-center">
            <div class="col-4 col-md-2">
                <img class="img-fluid rounded" src="{{ item.product.image.url }}">
            </div>

            <div class="col-6 col-md-2 p-3 w-25">
                <p class="my-0">{{ item.product.name }}</p>
                <p class="my-0">£{{ item.product.price }}</p>
            </div>

            <div class="col-12 col-md-8">
                <form class="form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row row align-items-center">
                        <div class="col-12 col-md-6">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <input class="form-control form-control-sm qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <input type="submit" class="btn btn-success text-uppercase" value="update">
                        </div>
                    </div>

                        <div class="col-12 col-md-3 mt-3 mt-md-0">
                            <a class="remove-item text-danger" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                        </div>

                </form>

            </div>
        </div>
    </section>
    <!-- Section items-list -->
    <hr>
    {% endfor %}
    <!-- Section order-checkout-details -->
    <section>
        <div class="row mb-5">
            <div class="col-12 d-flex justify-content-end">
                <h6>Bag Total: £{{ total|floatformat:2 }}</h6>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <h6>Delivery fee: £{{ delivery|floatformat:2 }}</h6>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <h3 class="mt-4 final-total"><strong>Final Total: £{{ final_total|floatformat:2 }}</strong></h4>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-end">
                <a href="{% url 'checkout' %}" class="btn btn-checkout btn-lg mt-2">
                    <span class="text-uppercase">Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
        </div>
    </section>
    <!-- Section order-checkout-details -->

    {% else %}
    <!-- Section bag-empty -->
    <section>
    <div class="row">
        <div class="col">
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-browse mt-3">
                <i class="fa-solid fa-angle-left"></i> <span class="text-uppercase"> Browse more</span>
            </a>
        </div>
    </div>
    </section>
    <!-- Section bag-empty -->
</div>
{% endif %}

{% endblock %}

{% block extra-postloadjs %}

<script>
    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken,};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })   
</script>

{% endblock %}