{% extends "base.html" %}
{% load static %}


{% block content %}
<!---Jumbotron Section-->
<section>
  <div class="jumbotron jumbotron-fluid d-flex align-items-center mt-4 align-middle">
    <div class="container align-middle">
      <div class="row justify-content-center">
        <h1 class="text-uppercase">Organic Food</h1>
      </div>
      <div class="row justify-content-center mt-5">
        <p>Delivered to your doorstep</p>
      </div>
      <div class="row justify-content-center">
      <a href=""><button class="btn btn-black mt-5">SHOP NOW</button></a>
      </div>
    </div>
  </div>
</section>
<!---Jumbotron Section-->

<section>
  <div class="row m-5">
    <div class="col-12 col-md-6">
        THIS IS A IMAGE
    </div>
    <div class="col-12 col-md-6">
      THIS IS TEXT
    </div>
  </div>
  <div class="row m-5">
    <div class="col-12 col-md-6">
      THIS IS TEXT
    </div>
    <div class="col-12 col-md-6">
      THIS IS A IMAGE
    </div>
  </div>
</section>



{% endblock %}
