{% extends "base.html" %}
{% load static %}


{% block content %}
<!---Jumbotron Section-->
<section>
  <div class="jumbotron jumbotron-fluid d-flex align-items-center mt-4 align-middle">
    <div class="container align-middle">
      <div class="row justify-content-center">
        <h1 class="text-uppercase">Organic Food</h1>
      </div>
      <div class="row justify-content-center mt-5">
        <p>Delivered to your doorstep</p>
      </div>
      <div class="row justify-content-center">
      <a href=""><button class="btn btn-black mt-5">SHOP NOW</button></a>
      </div>
    </div>
  </div>
</section>
<!---Jumbotron Section-->

<!---Home Cards Section-->
<section>
  <div class="row home-card-first align-items-center flex-column-reverse flex-md-row">
    <div class="col-12 col-md-6 img-side">
        <img class="img-fluid" src="/media//index-img.farm.jpg" alt="">
    </div>
    <div class="col-12 col-md-6 text-side">
      <h2>Our farm standards</h2>
      <p class="text-justify">survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
  <div class="row home-card-second align-items-center ">
    <div class="col-12 col-md-6 text-side">
      <h2>Best products etc</h2>
      <p class="text-justify">survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col-12 col-md-6 img-side ">
      <img class="img-fluid" src="/media/index-img-fruits.jpg" alt="">
    </div>
  </div>
</section>
<!---Home Cards Section-->


{% endblock %}
