<!-- Base template. The large screen navbar was inspired by code Institute, Boutique Ado project -->
{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Come to visit the best organic food shop online. We have a variety of products, from herbs to fruits.">
  <meta name="keywords" content="organic food, organic, food, herbs, fruits, vegetables, natural, health">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Mail Chimp CSS-->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/07df6da6c2.js" crossorigin="anonymous"></script>
  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Cheltenham Organics</title>
</head>

<body class="d-flex flex-column min-vh-100">
  <header>
    <div class="col d-md-none">
      <button type="button" id="sidebarCollapse" class="btn btn-link">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
    <div id="topnav" class="row pt-lg-2">
      <div class="col-12 col-md-6  col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left logo">
        <a href="{% url 'home' %}" class="nav-link ">
          <h1> <span> C.Organics</span></h1>
        </a>
      </div>

      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-block">
        <form method="GET" action="{% url 'products' %}">
          <div class="input-group w-100">
            <input class="form-control border border-black rounded-0" type="text" name="q"
              placeholder="Search our site">
            <div class="input-group-append">
              <button class="form-control btn  border border-black rounded-0" type="submit">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-md-6 col-lg-4 my-auto py-1 py-lg-0 d-none d-md-block">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item dropdown">
            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg"></i></div>
                <p class="my-0">My Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">
            <a class=" nav-link" href="{% url 'bag' %}">
              <div class="text-center">
                <div><i class="fa-solid fa-cart-shopping fa-lg"></i></div>
                <p class="my-0">
                  {% if total %}
                  £{{ total|floatformat:2 }}
                  {% else %}
                  £0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="search-bar d-lg-none">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <form method="GET" action="{% url 'products' %}">
              <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q"
                  placeholder="Search our site">
                <div class="input-group-append">
                  <button class="form-control btn border border-black rounded-0" type="submit">
                    <span class="icon">
                      <i class="fas fa-search"></i>
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Start Desktop Filter Products Bar-->
    <nav class="navbar navbar-expand-md sub-menu">
      <div class="container">
        <div class="collapse navbar-collapse text-uppercase" id="navbar">
          <ul class="navbar-nav mx-auto">

            <li class="nav-item">
              <a class="nav-link" href="{% url 'products' %}" role="button" aria-haspopup="true" aria-expanded="false">
                All Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'products' %}?category=Fruits" aria-haspopup="true" role="button"
                aria-expanded="false">
                Fruits
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'products' %}?category=Vegetables" role="button" aria-haspopup="true"
                aria-expanded="false">
                Vegetables
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'products' %}?category=Herbs" role="button" aria-haspopup="true"
                aria-expanded="false">
                Herbs
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Desktop Filter Products Bar-->

    <!-- mobile side bar navigator-->
    <nav id="sidebar">
      <!-- mobile-account-bag section-->
      <section>
        <div class="sidebar-header">
          <div class="container">
            <div class="row justify-content-around align-items-center">
              <div class="list-inline-item dropdown">
                <a class="text-black nav-link" href="#" id="user-options-mobile" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <div class="text-center">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <p class="my-0">My Account</p>
                  </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options-mobile">
                  {% if request.user.is_authenticated %}
                  <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
                </div>
              </div>
              <a class=" nav-link" href="{% url 'bag' %}">
                <div class="text-center">
                  <div><i class="fa-solid fa-cart-shopping"></i></div>
                  <p class="my-0">
                    {% if total %}
                    £{{ total|floatformat:2 }}
                    {% else %}
                    £0.00
                    {% endif %}
                  </p>
                </div>
              </a>
              <div class="col-2 text-left">
                <button type="button" id="sidebarCollapseX" class="btn btn-link">
                  <i class="fa-solid fa-circle-xmark"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- mobile-account-bag section-->

      <!--sidebar-filters section-->
      <section>
        <ul class="list-unstyled components links">
          <li class="nav-item dropdown">
            <a class="nav-link" href="{% url 'products' %}" role="button" aria-haspopup="true" aria-expanded="false">
              All Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}?category=Fruits" role="button" aria-haspopup="true"
              aria-expanded="false">
              Fruits
            </a>

          </li>
          <li class="nav-ite">
            <a class="nav-link" href="{% url 'products' %}?category=Vegetables" role="button" aria-haspopup="true"
              aria-expanded="false">
              Vegetables
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}?category=Herbs" role="button" aria-haspopup="true"
              aria-expanded="false">
              Herbs
            </a>
          </li>
        </ul>
      </section>
      <!--sidebar-filters section-->
    </nav>
    <!-- mobile side bar navigator-->
  </header>

  <!-- delivery-banner section --->
  <section>
    <div class="row mt-3 mt-md-1 text-center">
      <div class="col text-white  delivery-banner">
        <h4 class="logo-font my-1"> Next day delivery nationalwide £2</h4>
      </div>
    </div>
  </section>
  <!-- delivery-banner section -->

  {% if messages %}
  <div class="container message-container">
    {% for message in messages %}
    <div class="row mt-3 text-center justify-content-center text-white bg-dark">
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  <main class="flex-shrink-0">
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
  </main>


  <!-- Footer-->
  <footer class="mt-auto">
    <div class="row align-items-center text-center footer">
      <!--newsletter form-->
      <div class="col-md-6 mt-md-0 mt-3">
        <div class="newsletter">
          <!-- Mailchimp Signup Form -->
          <div id="mc_embed_signup">
            <form
              action="https://gmail.us18.list-manage.com/subscribe/post?u=0cd147e97320fc91cfdaadc23&amp;id=780935124a"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                  </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear foot">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                    name="b_0cd147e97320fc91cfdaadc23_780935124a" tabindex="-1" value=""></div>
                <div class="optionalParent">
                  <div class="clear foot">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"
                      style="background-color: #f58902;">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- Mailchimp Signup Form -->
        </div>
      </div>
      <!--newsletter form-->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!--Internal Links-->
      <div class="col-md-3 mb-md-0 mb-3  links">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'privacy_notice' %}" rel="noopener" target="_blank">Privacy Police</a>
          </li>
          <li>
            <a href="{% url 'terms_of_use' %}" rel="noopener" target="_blank">Terms of use</a>
          </li>
        </ul>
      </div>
      <!--Internal Links-->

      <!--Social Links-->
      <div class="col-md-3 mb-md-0 mb-3  links">
        <h5 class="text-uppercase"> Social Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/" rel="noopener" target="_blank" aria-label="Visit our facebook page"><i
                class="fa-brands fa-facebook-square"></i>
              Facebook
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" rel="noopener" target="_blank" aria-label="Visit our instagram page"><i
                class="fa-brands fa-instagram"></i>
              Instagram
            </a>
          </li>
          <li>
            <a href="https://twitter.com/?lang=en" rel="noopener" target="_blank" aria-label="Visit our Twitter page"><i
                class="fa-brands fa-twitter"></i>
              Twitter
            </a>
          </li>
          <li>
            <a href="https://linkedin.com/?lang=en" rel="noopener" target="_blank"
              aria-label="Visit our Linkedin page"><i class="fa-brands fa-linkedin"></i>
              Linkedin
            </a>
          </li>
        </ul>
      </div>
      <!-- Social Links -->
    </div>

    <!-- copyright section -->
    <section>
      <div class="row mt-3 pt-2 copyright ">
        <div class="col-md-12 text-center">
          <p class=" p-2"> 2022 All rights reserved | This website was made with <i class="fas fa-heart"></i> by <a
              href="https://github.com/arthurvguide" rel="noopener" target="_blank"
              aria-label="Developer github page">arthurvguide</a>
          </p>
        </div>
      </div>
    </section>
    <!-- copyright section -->
  </footer>
  <!--Footer-->

  {% block postloadjs %}
  <script src="{% static 'js/base.js' %}"></script>

  <!--Mail Chimp JS -->
  <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script>
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
      fnames[3] = 'ADDRESS';
      ftypes[3] = 'address';
      fnames[4] = 'PHONE';
      ftypes[4] = 'phone';
      fnames[5] = 'BIRTHDAY';
      ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>
  <!--Remove Message Container after 3 seconds-->
  <script>
    var messageContainer = document.getElementsByClassName("message-container")[0];
    setTimeout(function () {
      messageContainer.style.display = "none";
    }, 3000);
  </script>
  <!--Mail Chimp JS -->
  {% endblock %}

  {% block extra-postloadjs %}

  {% endblock %}


</body>

</html>