{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/07df6da6c2.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Cheltenham Organics</title>
  </head>
  <body>
    <!---------------------------- Start Navigation Bar------------------->
    <nav class="navbar navbar-expand-md  main-menu">
      <div class="container">

        <button type="button" id="sidebarCollapse" class="btn btn-link d-block d-md-none">
          <i class="fa-solid fa-bars"></i>
        </button>

        <a class="navbar-brand" href="#">
          <img src="/media/logo.png" alt="">
        </a>

        <ul class="navbar-nav ml-auto d-block d-md-none">
          <li class="list-inline-item">
            <a class="text-black nav-link d-block d-lg-none">
                <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg" aria-hidden="true"></i></div>
                    <p class="my-0">£0.00  
                    </p>
                </div>
            </a>
          </li>
        </ul>

        <div class="collapse navbar-collapse">
          <form  method="GET" action="#" class="form-inline my-2 my-lg-0 mx-auto">
            <input class="form-control" type="search" placeholder="Search our products..." aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>

          <ul class="navbar-nav">
            <li class="list-inline-item">
              <a class="text-black nav-link d-block">
                  <div class="text-center">
                      <div><i class="fas fa-shopping-bag fa-lg" aria-hidden="true"></i></div>
                      <p class="my-0">£0.00  
                      </p>
                  </div>
              </a>
            </li>
            <li class="nav-item ml-md-3">
              <a class="text-black nav-link d-block">
                <div class="text-center">
                    <div><i class="fa-solid fa-user" aria-hidden="true"></i></div>
                    <p class="my-0">My Account
                    </p>
                </div>
            </a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
<!---------------------------- End Navigation Bar------------------->

<!---------------------------- Start Desktop Filter Products Bar------------------->
    <nav class="navbar navbar-expand-md sub-menu">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mx-auto">
        
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Filter 1</a>
                <a class="dropdown-item" href="#">Filter 2</a>
                <a class="dropdown-item" href="#">Filter 3</a>
                <a class="dropdown-item" href="#">Filter 4</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products type 1
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Filter 1</a>
                <a class="dropdown-item" href="#">Filter 2</a>
                <a class="dropdown-item" href="#">Filter 3</a>
                <a class="dropdown-item" href="#">Filter 4</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products type 2
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Filter 1</a>
                <a class="dropdown-item" href="#">Filter 2</a>
                <a class="dropdown-item" href="#">Filter 3</a>
                <a class="dropdown-item" href="#">Filter 4</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products type 3
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Filter 1</a>
                <a class="dropdown-item" href="#">Filter 2</a>
                <a class="dropdown-item" href="#">Filter 3</a>
                <a class="dropdown-item" href="#">Filter 4</a>
              </div>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
<!---------------------------- End Desktop Filter Products Bar------------------->

<!---------------------------- Start  Mobile Side Bar------------------->
    <div class="search-bar d-block d-md-none">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <form class="form-inline mb-3 mx-auto">
              <input class="form-control" type="search" placeholder="Search our products..." aria-label="Search">
              <button class="btn btn-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <nav id="sidebar">
      <div class="sidebar-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-10 pl-0">
              <a class="btn" href="#"><i class="fa-solid fa-user"></i>My account</a>
            </div>

            <div class="col-2 text-left">
              <button type="button" id="sidebarCollapseX" class="btn btn-link">
                <i class="fa-solid fa-circle-xmark"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!---------------------------- Start Sidebar Filter Products Bar------------------->
      <ul class="list-unstyled components links">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Filter 1</a>
            <a class="dropdown-item" href="#">Filter 2</a>
            <a class="dropdown-item" href="#">Filter 3</a>
            <a class="dropdown-item" href="#">TFilter 4</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products type 1
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Filter 1</a>
            <a class="dropdown-item" href="#">Filter 2</a>
            <a class="dropdown-item" href="#">Filter 3</a>
            <a class="dropdown-item" href="#">Filter 4</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products type 2
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Filter 1</a>
            <a class="dropdown-item" href="#">Filter 2</a>
            <a class="dropdown-item" href="#">Filter 3</a>
            <a class="dropdown-item" href="#">Filter 4</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products type 3
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Filter 1</a>
            <a class="dropdown-item" href="#">Filter 2</a>
            <a class="dropdown-item" href="#">Filter 3</a>
            <a class="dropdown-item" href="#">Filter 4</a>
          </div>
        </li>
      </ul>
      
    </nav>
<!---------------------------- End Mobile Side Bar------------------->

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    
    {% endblock %}
  <!---------------------------- Start footer ------------------->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>CONTENT CONTENT CONTENT CONTENT</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <p class="copyright mx-1"> 2022 All rights reserved | This website was made with <i class="fas fa-heart"></i> by <a
          href="https://github.com/arthurvguide" rel="noopener" target="_blank">arthurvguide</a>
      </p>
    </div>
  </div>
  <!-- Copyright -->

</footer>
<!---------------------------- End footer ------------------->
    {% block postloadjs %}
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}
    
    
  </body>
</html>