{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="img-fluid" src="/media/no-image.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                </div>
                <form class="form" action="{% url 'add_to_bag' product.id  %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3">Quantity:</strong></p>
                            <div>
                                <select class="quantity-selector"name="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="2">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>     
                        </div>
    
                        <div class="col-12">
                            <input type="submit" class="btn btn-add-cart text-uppercase mt-5" value="Add to Cart">
                            <a href="{% url 'products' %}" class="btn btn-browse mt-5">
                                <span class="text-uppercase">Browse more</span>
                            </a>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}